pandas
sqlalchemy
pymysql
docxtpl
jinja2
openpyxl
xlsxwriter
python-dotenv
pysmb
paddleocr
opencv-python
PyMuPDF
numpy
requests
Pillow
python-docx
pathlib2
concurrent-futures
fastapi
pydantic
translate
uvicorn
